- if @user.errors.any?
  %div.col.s12.m10.offset-m1
    %div.card-panel.error
      - @user.errors.full_messages.each do |message|
        %li
          = message

%div.col.s12.m10.offset-m1
  = form_tag("/users", method: :post, id: "singup-form") do
    %div.row
      %div.col.s12.input-field
        %i.material-icons.prefix contact_mail
        #{text_field_tag 'user[email]', @user['email'], class:"materialize-textarea"}
        %label{for: "email"} メールアドレス
      %div.col.s12.input-field
        %i.material-icons.prefix vpn_key
        #{password_field_tag 'user[password]', @user['password'], class:"materialize-textarea"}
        %label{for: "password"} パスワード
      %div.col.s12.input-field
        %i.material-icons.prefix vpn_key
        #{password_field_tag 'user[password_confirmation]', @user['password_confirmation'], class:"materialize-textarea"}
        %label{for: "password_confirmation"} パスワード(確認)
      %div.col.s12.input-field
        %i.material-icons.prefix person
        #{text_field_tag 'user[name]', @user['name'], class:"materialize-textarea", maxlength: 10}
        %label{for: "name"} ユーザ名(ゲーム中で利用される名称です)
    %div.row
      %div.col.s12
        %ul.tabs.info_tabs.z-depth-3
          %li.tab.col.s12
            %a#user_create_btn.waves-effect.waves-light アカウント作成
    %div.row
      %div.col.s12
        %ul.tabs.info_tabs.z-depth-3
          %li.tab.col.s12
            = link_to "ログイン画面に戻る", root_path, :id => "signup_btn"