%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Password digest:
  = @user.password_digest
%p
  %b Name:
  = @user.name
%p
  %b Is auth:
  = @user.is_auth
%p
  %b Is valid:
  = @user.is_valid

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
